# Session 1 : Intro to Python for Data Science

### In this session we are goint to cover :
### 1) Python Basic
### 2) Python Lists
### 3) Function and Packages

## 1) Python Basic

In [1]:
print("Hello World !!")

Hello World !!

In [2]:
print(12/2)

6.0

### 1.1 ) Variables

In [3]:
height = 1.78

In [4]:
weight = 68

In [5]:
height

1.78

In [6]:
weight

68

#### Calculate BMI = weight/ (height)^2

In [7]:
68/1.78 **2

21.461936624163616

In [8]:
weight / height ** 2

21.461936624163616

In [9]:
bmi = weight / height ** 2

In [10]:
bmi

21.461936624163616

In [11]:
height = 6.45
weight = 56.7
bmi = weight / height ** 2
print("Body Mass Index :",bmi)

Body Mass Index : 1.3628988642509465

### 1.2 ) Data Types

In [12]:
type(bmi)

float

In [13]:
rollNo = 6
type(rollNo)

int

In [14]:
x = "hello Python !!!"

In [15]:
x

'hello Python !!!'

In [16]:
type(x)

str

In [17]:
evenNumber = True

In [18]:
evenNumber

True

In [19]:
type(evenNumber)

bool

#### Something Special about Python Data types

In [20]:
2+3

5

In [21]:
"Hello "+ "world"

'Hello world'

## Lets Practice !!!

##### Excercise 1.1:
* Create a Variable Saving with value 100 and Print out Savings

In [22]:
# Create a variable savings
savings = 100
print(savings)

100

##### Excercise 1.2:
* Create a variable factor, equal to 1.10. 
* Use savings and factor to calculate the amount of money you end up with after 7 years. 
* Store the result in a new variable, result. 
* Print out the value of result

Code Snippet :
    # Create a variable savings
    savings = 100

    #Create a variable factor
  
    #Calculate result
  
    #Print out result

In [23]:
# Create a variable savings
savings = 100

# Create a variable factor
factor = 1.10

# Calculate result
result = savings * factor **7

# Print out result
print(result)

194.87171000000012

##### Excercise 1.3:
* Create a new string, desc, with the value "compound interest". 
* Create a new boolean, profitable, with the value True.

Code Snippet :

    # Create a variable desc

    # Create a variable boolean

In [24]:
# Create a variable desc
desc = "compound interest"

# Create a variable boolean
profitable = True

##### Excercise 1.4:
* Calculate the product of savings and factor. Store the result in year1. 
* Find out by printing out the type of year1. 
* Calculate the sum of desc and desc and store the result in a new variable doubledesc. 
* Print out doubledesc.

Code Snippet :

    # Several variables to experiment with
    savings = 100
    factor = 1.1
    desc = "compound interest"

    # Assign product of factor and savings to year1

    # Print the type of year1

    # Assign sum of desc and desc to doubledesc

    # Print out doubledesc

In [25]:
## Solution :

# Several variables to experiment with
savings = 100
factor = 1.1
desc = "compound interest"

# Assign product of factor and savings to year1
year1 = savings * factor

# Print the type of year1
print(type(year1))

# Assign sum of desc and desc to doubledesc
doubledesc = desc + desc


# Print out doubledesc
print(doubledesc)

<class 'float'>
compound interestcompound interest

##### Excercise 1.5:
* use the function str() to convert the variables to strings.
* Convert the variable pi_string to a float and store this float as a new variable, pi_float.

Code Snippet : 
    # Definition of savings and result
    savings = 100
    result = 100 * 1.10 ** 7

    #Fix the printout
    print("I started with " + savings + " and now have " + result + ". Awesome!")

    #Definition of pi_string
 
    #Convert pi_string into float: pi_float

In [26]:
## Solution :

# Definition of savings and result
savings = 100
result = 100 * 1.10 ** 7

x = str(savings)
y = str(result)

# Fix the printout
print("I started with " + x + " and now have " + y + ". Awesome!")

# Definition of pi_string
pi_string = "3.1415926"

# Convert pi_string into float: pi_float
pi_float = float(pi_string)

I started with 100 and now have 194.87171000000012. Awesome!

## 2) Python Lists

* #### Till now we have deal with :
> ##### int- Interger Number
> ##### float - Real Number
> ##### str - String, Text
> ##### bool - True, False

###### Note : Suppose we want to store a height of the whole family. So how would you imagine to do it !!

In [27]:
[5.23,4.25,5.6,5.8]

[5.23, 4.25, 5.6, 5.8]

In [28]:
fam = [5.20,5.42,6.2,5.3]

In [29]:
fam

[5.2, 5.42, 6.2, 5.3]

##### * Lists can be a name to a collection of elements. I can be of any types and moreover contains different datatypes

In [30]:
fam = ["dad",6.6,"mom",5.01,"sis",4.2,"bro",5.8]

In [31]:
fam

['dad', 6.6, 'mom', 5.01, 'sis', 4.2, 'bro', 5.8]

##### * Python list can also contain list inside it

In [32]:
fam2 = [["dad",6.6], ["mom",5.01],["sis",4.2],["bro",5.8]]

In [33]:
fam2

[['dad', 6.6], ['mom', 5.01], ['sis', 4.2], ['bro', 5.8]]

In [34]:
type(fam)

list

In [35]:
type(fam2)

list

## Lets Practice !!!

* As opposed to int, bool etc., a list is a compound data type; you can group values together:
   
   > a = "is"
   
   > b = "nice"
   
   > my_list = ["my", "list", a, b]

* After measuring the height of your family, you decide to collect some information on the house you're living in. Consider the  areas of the different parts of your house are stored in separate variables for now.

##### Excercise 2.1:
* Create a list, areas, that contains the area of the hallway (hall), kitchen (kit), living room (liv), bedroom (bed) and bathroom (bath), in this order. 
Use the predefined variables.
* Print areas with the print() function.
* #area variables (in square meters)

    hall = 11.25,kit = 18.0,liv = 20.0,bed = 10.75,bath = 9.50

    #Create list areas

    #Print areas

In [36]:
## Solution :

# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create list areas
areas = [hall,kit,liv,bed,bath]

# Print areas

print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

##### Excercise 2.2:
* Finish the line of code that creates the areas list such that the list first contains the name of each room as a string and then its area. More specifically, add the strings "hallway", "kitchen" and "bedroom" at the appropriate locations.
* Print areas again; is the printout more informative this time?

Code Snippet : 
     #area variables (in square meters)
        hall = 11.25
        kit = 18.0
        liv = 20.0
        bed = 10.75
        bath = 9.50

     #Adapt list areas

        areas = [hall, kit, "living room", liv, bed, "bathroom", bath]

     #Print areas

In [37]:
## Solution :

# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Adapt list areas
areas = ["hallway",hall, "kitchen",kit, "living room", liv, "bedroom",bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

#### Ecercise 2.3:
* Finish the list of lists so that it also contains the bedroom and bathroom data.
* Print out house
* Print out the type of house. 

Code Snippet : 
     # area variables (in square meters)
        hall = 11.25
        kit = 18.0
        liv = 20.0
        bed = 10.75
        bath = 9.50

    #house information as list of lists
    house = [["hallway", hall],
             ["kitchen", kit],
             ["living room", liv]]

    #Print out house


    #Print out the type of house

In [38]:
## Solution :

# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

# Print out house
print(house)

# Print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

### 2.1 ) Subsetting a List

#### Indexing 
* To Acess Element in a list python uses a Indexing

![](1.png)

In [39]:
fam = ["dad",5.9,"mom",4.52,"sis",3.8,"bro",4.0]

In [40]:
fam

['dad', 5.9, 'mom', 4.52, 'sis', 3.8, 'bro', 4.0]

In [41]:
# mom height
fam[3]

4.52

In [42]:
# Select bro from the List 
fam[6]

'bro'

In [43]:
# Can come backward using negative indexing
# to get height of bro
fam[-1]

4.0

#### List Slicing
* To Acess Multiple Elements from a List

In [44]:
fam = ["dad",5.9,"mom",4.52,"sis",3.8,"bro",4.0]

In [45]:
# listName[Start: End]
fam[2:4]

['mom', 4.52]

In [46]:
fam[1:4]

[5.9, 'mom', 4.52]

In [47]:
# leave the start element
fam[:4]

['dad', 5.9, 'mom', 4.52]

In [48]:
# leave the End element
fam[2:]

['mom', 4.52, 'sis', 3.8, 'bro', 4.0]

#### Excercise 2.4:
* Print out the second element from the areas list, so 11.25.
* Subset and print out the last element of areas, being 9.50. Using a negative index makes sense here!
* Select the number representing the area of the living room and print it out. 

Code Snippet : 
    # Create the areas list
    areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

    #Print out second element from areas


    #Print out last element from areas


    #Print out the area of the living room

In [49]:
## Solution :

# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print out second element from areas
print(areas[1])

# Print out last element from areas
print(areas[-1])

# Print out the area of the living room
print(areas[5])

11.25
9.5
20.0

#### Excercise 2.5:
* Using a combination of list subsetting and variable assignment, create a new variable, eat_sleep_area, that contains the sum of the area of the kitchen and the area of the bedroom.
* Print the new variable eat_sleep_area.

Code Snippet : 
    # Create the areas list
    areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

    #Sum of kitchen and bedroom area: eat_sleep_area

    #Print the variable eat_sleep_area

In [50]:
## Soulution : 

# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Sum of kitchen and bedroom area: eat_sleep_area
eat_sleep_area = areas[3] + areas[-3] 

# Print the variable eat_sleep_area
print(eat_sleep_area)

28.75

#### Excercise 2.6:
* Use slicing to create a list, downstairs, that contains the first 6 elements of areas.
* Do a similar thing to create a new variable, upstairs, that contains the last 4 elements of areas.
* Print both downstairs and upstairs using print().

Code Snippet : 
    # Create the areas list
    areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

    #Use slicing to create downstairs

    #Use slicing to create upstairs

    #Print out downstairs and upstairs

In [51]:
## Solution :

# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Use slicing to create downstairs
downstairs = areas[:6]

# Use slicing to create upstairs
upstairs = areas[6:]

# Print out downstairs and upstairs
print(downstairs)
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

### 2.2 ) Manipulating  a List

List Manipulation is used to :
* Change a element in a List
* Add element in a list
* Remove a element in a list

###### * Change a element in a List

In [52]:
fam = ["dad",5.9,"mom",4.52,"sis",3.8,"bro",4.0]

In [53]:
fam

['dad', 5.9, 'mom', 4.52, 'sis', 3.8, 'bro', 4.0]

In [54]:
fam[5] =4.2

In [55]:
fam

['dad', 5.9, 'mom', 4.52, 'sis', 4.2, 'bro', 4.0]

In [56]:
fam[0:2] = ["dady","6.0"]

In [57]:
fam

['dady', '6.0', 'mom', 4.52, 'sis', 4.2, 'bro', 4.0]

###### * Add a element in a List

In [58]:
fam + ["me",5.86]

['dady', '6.0', 'mom', 4.52, 'sis', 4.2, 'bro', 4.0, 'me', 5.86]

In [59]:
fam_ext = fam +  ["grany",5.34]

In [60]:
fam_ext

['dady', '6.0', 'mom', 4.52, 'sis', 4.2, 'bro', 4.0, 'grany', 5.34]

In [61]:
fam

['dady', '6.0', 'mom', 4.52, 'sis', 4.2, 'bro', 4.0]

###### * Delete a element from a List

In [62]:
fam

['dady', '6.0', 'mom', 4.52, 'sis', 4.2, 'bro', 4.0]

In [63]:
del(fam[2])

In [64]:
fam

['dady', '6.0', 4.52, 'sis', 4.2, 'bro', 4.0]

In [65]:
del(fam[2])

In [66]:
fam

['dady', '6.0', 'sis', 4.2, 'bro', 4.0]

###### * Behind the Scenes

In [67]:
x = ["a","b","c"]

![](2.png)

In [68]:
y = x

![](3.png)

In [69]:
y[1] = "z"

In [70]:
y

['a', 'z', 'c']

In [71]:
x

['a', 'z', 'c']

In [72]:
# if you want to use values of x in y 
y = list(x)

In [73]:
# if you want to use values of x in y 
y = x[:]

In [74]:
y

['a', 'z', 'c']

![](4.png)

In [75]:
y[1] = "t"

In [76]:
y

['a', 't', 'c']

In [77]:
x

['a', 'z', 'c']

#### Excercise 2.7:
* You did a miscalculation when determining the area of the bathroom; it's 10.50 square meters instead of 9.50. 
* Make the areas list more trendy! Change "living room" to "chill zone".

Code Snippet : 
      # Create the areas list
        areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

      #Correct the bathroom area

      #Change "living room" to "chill zone"

In [89]:
## Solution 

# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Correct the bathroom area
areas[-1] = 10.50

# Change "living room" to "chill zone"
areas[4]= "chill zone"

#### Excercise 2.8:
* Use the + operator to paste the list ["poolhouse", 24.5] to the end of the areas list. Store the resulting list as areas_1.
* Further extend areas_1 by adding data on your garage. Add the string "garage" and float 15.45. Name the resulting list areas_2.

Code Snippet : 
    # Create the areas list and make some changes
    areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
             "bedroom", 10.75, "bathroom", 10.50]

    #Add poolhouse data to areas, new list is areas_1

    #Add garage data to areas_1, new list is areas_2

In [79]:
## Solution 

# Create the areas list and make some changes
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
         "bedroom", 10.75, "bathroom", 10.50]

# Add poolhouse data to areas, new list is areas_1
areas_1 = areas + ["poolhouse", 24.5]

# Add garage data to areas_1, new list is areas_2
areas_2 = areas_1 + ["garage",15.45]

#### Excercise 2.9:
* Change the second command, that creates the variable areas_copy, such that areas_copy is an explicit copy of areas
* Now, changes made to areas_copy shouldn't affect areas. Hit Submit Answer to check this.

Code Snippet : 
    # Create list areas
    areas = [11.25, 18.0, 20.0, 10.75, 9.50]

    #Create areas_copy
    areas_copy = areas

    #Change areas_copy
    areas_copy[0] = 5.0

    #Print areas
    print(areas)

In [80]:
## Solution 

# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Create areas_copy
areas_copy = list(areas)

# Change areas_copy
areas_copy[0] = 5.0

# Print areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

## 3) Python Functions

* Piece of Reusable code
* Solves a particular task

###### * Max Function

In [81]:
fam = [5.20,5.42,6.2,5.3]

In [82]:
fam

[5.2, 5.42, 6.2, 5.3]

In [83]:
max(fam)

6.2

In [84]:
tallest = max(fam)

In [85]:
tallest

6.2

###### * Round Function

In [86]:
round(1.68,1)

1.7

In [87]:
round(1.68)

2

#### Excercise 3.1:
* Use print() in combination with type() to print out the type of var1.
* Use len() to get the length of the list var1. Wrap it in a print() call to directly print it out.
* Use int() to convert var2 to an integer. Store the output as out2.

Code Snippet : 
    # Create variables var1 and var2
    var1 = [1, 2, 3, 4]
    var2 = True

    #Print out type of var1

    #Print out length of var1

    #Convert var2 to an integer: out2

In [88]:
## Solution 

# Create variables var1 and var2
var1 = [1, 2, 3, 4]
var2 = True

# Print out type of var1
print(type(var1))

# Print out length of var1
print(len(var1))

# Convert var2 to an integer: out2
out2 = int(var2)

<class 'list'>
4

#### Excercise 3.2:
* Use + to merge the contents of first and second into a new list: full.
* Call sorted() on full and specify the reverse argument to be True. Save the sorted list as full_sorted.
* Finish off by printing out full_sorted.

Code Snippet : 
    # Create lists first and second
    first = [11.25, 18.0, 20.0]
    second = [10.75, 9.50]

    #Paste together first and second: full

    #Sort full in descending order: full_sorted

    #Print out full_sorted

In [90]:
## Solution 

# Create lists first and second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

# Paste together first and second: full
full = first + second

# Sort full in descending order: full_sorted
full_sorted = sorted(full,reverse=True)

# Print out full_sorted
print(full_sorted)

[20.0, 18.0, 11.25, 10.75, 9.5]

###### * Methods  

* Call functions on object

In [91]:
fam = ["dad",5.9,"mom",4.52,"sis",3.8,"bro",4.0]

In [92]:
fam.index("mom")

2

In [95]:
# Number of times 5.9 has occured
fam.count(5.9)

1

In [96]:
fam.append("me")

In [97]:
fam.append(4.56)

In [98]:
fam

['dad', 5.9, 'mom', 4.52, 'sis', 3.8, 'bro', 4.0, 'me', 4.56]

### Excercise 3.3:
* Use the upper() method on room and store the result in room_up. Use the dot notation.
* Print out room and room_up. Did both change?
* Print out the number of o's on the variable room by calling count() on room and passing the letter "o" as an input to the method. We're talking about the variable room, not the word "room"!

Code Snippet : 
    # string to experiment with: room
    room = "poolhouse"

    #Use upper() on room: room_up


    #Print out room and room_up


    #Print out the number of o's in room

In [99]:
## Solution 

# string to experiment with: room
room = "poolhouse"

# Use upper() on room: room_up
room_up = room.upper();

# Print out room and room_up
print(room)
print(room_up)

# Print out the number of o's in room
print(room.count('o'))

poolhouse
POOLHOUSE
3

### Excercise 3.4:
* Use the index() method to get the index of the element in areas that is equal to 20.0. Print out this index.
* Call count() on areas to find out how many times 14.5 appears in the list. Again, simply print out this number.

Code Snippet : 
    #Create list areas
    areas = [11.25, 18.0, 20.0, 10.75, 9.50]

    #Print out the index of the element 20.0

    #Print out how often 14.5 appears in areas

In [100]:
## Solution 

# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Print out the index of the element 20.0
print(areas.index(20.0))

# Print out how often 14.5 appears in areas
print(areas.count(14.5))

2
0

### Excercise 3.5:
* Use append() twice to add the size of the poolhouse and the garage again: 24.5 and 15.45, respectively. Make sure to add them in this order.
* Print out areas
* Use the reverse() method to reverse the order of the elements in areas.
* Print out areas once more.

Code Snippet : 
    # Create list areas
    areas = [11.25, 18.0, 20.0, 10.75, 9.50]

    #Use append twice to add poolhouse and garage size

    #Print out areas

    #Reverse the orders of the elements in areas

    #Print out areas

In [101]:
## Solution 

# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Use append twice to add poolhouse and garage size
areas.append(24.5)
areas.append(15.45)


# Print out areas
print(areas)

# Reverse the orders of the elements in areas
areas.reverse()

# Print out areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5, 24.5, 15.45]
[15.45, 24.5, 9.5, 10.75, 20.0, 18.0, 11.25]

###### * Packages  

* Directory of python scripts
* Each script = module
* Specify function, methods and type

![](5.png)

In [103]:
# Importing Package Numpy
import numpy

In [105]:
numpy.array([23,56,7])

array([23, 56,  7])

In [106]:
import numpy as np

In [107]:
np.array([23,56,7])

array([23, 56,  7])

In [108]:
from numpy import array

In [109]:
array([23,56,7])

array([23, 56,  7])

### Excercise 3.6:
* Import the math package. Now you can access the constant pi with math.pi.
* Calculate the circumference of the circle and store it in C.
* Calculate the area of the circle and store it in A.

Hint : C=2r and A=r2

Code Snippet : 
    # Definition of radius
    r = 0.43

    #Import the math package

    #Calculate C
    C = 0

    #Calculate A
    A = 0

    #Build printout
    print("Circumference: " + str(C))
    print("Area: " + str(A))

In [110]:
## Solution 

# Definition of radius
r = 0.43

# Import the math package
import math 

# Calculate C
C = 2* math.pi *r

# Calculate A
A = math.pi * r**2

# Build printout
print("Circumference: " + str(C))
print("Area: " + str(A))

Circumference: 2.701769682087222
Area: 0.5808804816487527